<div>
    <h2>
        <span jhiTranslate="debinappApp.cuenta.home.title">Cuentas</span>
        <button class="btn btn-primary float-right jh-create-entity create-cuenta" [routerLink]="['/', { outlets: { popup: ['cuenta-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="debinappApp.cuenta.home.createLabel">
            Create new Cuenta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cuentas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nombre"><span jhiTranslate="debinappApp.cuenta.nombre">Nombre</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="cbu"><span jhiTranslate="debinappApp.cuenta.cbu">Cbu</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="aliasCbu"><span jhiTranslate="debinappApp.cuenta.aliasCbu">Alias Cbu</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="banco"><span jhiTranslate="debinappApp.cuenta.banco">Banco</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="saldo"><span jhiTranslate="debinappApp.cuenta.saldo">Saldo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="user.login"><span jhiTranslate="debinappApp.cuenta.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let cuenta of cuentas ;trackBy: trackId">
                <td><a [routerLink]="['../cuenta', cuenta.id ]">{{cuenta.id}}</a></td>
                <td>{{cuenta.nombre}}</td>
                <td>{{cuenta.cbu}}</td>
                <td>{{cuenta.aliasCbu}}</td>
                <td>{{cuenta.banco}}</td>
                <td>{{cuenta.saldo}}</td>
                <td>
                    {{cuenta.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cuenta', cuenta.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cuenta/'+ cuenta.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cuenta/'+ cuenta.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
